.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 5rem;
  gap: 1rem;
  width: 100%;
  flex-grow: 1;
}

.title {
  color: var(--grey-4);
}

.competition, .new-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
  border: 1px solid var(--green-main);

  padding: 1rem 2rem;
  width: 25rem;

  transition: all 200ms ease-in;
}

.competition {
  color: var(--green-4);
}

.competition:hover {
  background-color: var(--grey-3);
  width: 28rem;
}

.new-link {
  background-color: var(--green-1);
}

.new-link:hover {
  background-color: var(--green-2);
  width: 28rem;
}